body {
    padding: 20px;
    font-family: 'Roboto-light'
  }
  
  canvas {
    border: 1px solid black;
  }
  
  .canvas-container {
    padding-top: 20px;
  }
  
  .top-menu-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 20px;
  }
  
  .center {
    width: 50%;
    margin: 0 auto;
  }
  
  ul {
    list-style-type: none;
  }